* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

button {
    border: none;
    cursor: pointer;
    background-color: #121212;
    color: white;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.125rem;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

button:disabled {
    color: #b4b4b4;
    background-color: #e4e4e4;
    cursor: default;
}

button:hover:not(:disabled) {
    background-color: #121212;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem;
}

#task-image {
    width: auto;
    height: 50%;
    background-color: white;
    margin: 1rem;
    margin-bottom: 8rem;
    border: none;
}

.task-options {
    margin-bottom: 3rem;
    display: flex;
}

.task-options > div {    
    margin: 0 0.5rem 0 0.5rem;
}

.task-options label {
    font-weight: 600;
    color: #121212;
    /* background-color: #e6e6e6; */
    /* border: 2px solid #FFB700; */
    cursor: pointer;
    display: inline-block;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 9999px;
    width: 12rem;
    text-align: center;
    /* transition-property: background-color, border-color; */
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.task-options label:hover {
    background-color: #dddddd;
}


.task-options input:checked + label {
    color: #121212;
    background-color: #FFB700;
    /* border: 2px solid #121212; */
}

.task-options input {
    display: none;
}

#task-text {
    font-size: 2.4rem;
    line-height: 1.4;
    text-align: center;
    margin: 0;
    margin-bottom: 4rem;
    max-width: 56%;
}

#task-text strong {
    font-weight: 700;
    color: black;
}

#constant-question {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
    color: #0071EB;
}